body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #f5f5f5; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
    padding: 25px;
    width: 320px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: #f2f2f2; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    font-size: 2.5rem; 
    padding: 15px;
    text-align: right;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    background-color: #e5e5e5;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    font-size: 1.5rem; 
    padding: 20px;
    transition: background-color 0.2s ease-in-out; 
}

button:hover {
    background-color: #ccc;
}

.operator, .equal {
    background-color: #ff9900; 
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
}

.clear, .delete {
    background-color: #007bff; 
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
}